<h1>Lista de Usuarios Inscritos</h1>
<a href="{% url 'crear_usuario' %}"> Dar de alta nuevo usuario</a>

<hr>
    <form method="GET" style="margin-bottom: 20px;">
        <label>Ver inscritos en la Actividad:</label>
        <select name="actividad">
            <option value="">-- Todas las actividades --</option>
            {% for act in actividades_lista %}
                <option value="{{ act.id }}" {% if request.GET.actividad == act.id|stringformat:"s" %}selected{% endif %}>
                    {{ act.nombre }}
                </option>
            {% endfor %}
        </select>

        <button type="submit"> Filtrar Usuarios</button>
        <a href="{% url 'lista_usuarios' %}">Limpiar</a>
    </form>
    <hr>

<ul>
    {% for usuario in usuarios %}
        <li>
            <a href="{% url 'detalle_usuario' usuario.id %}">{{ usuario.nombre }}</a> 
            - {{ usuario.email }}
            <a href="{% url 'eliminar_usuario' usuario.id %}" style="color:red;">[Borrar]</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'lista_actividades' %}">Volver a Actividades</a>

<a href="{% url 'inicio' %}"> Volver al Menú Principal</a>